<!doctype html>
<html>
<head>
    <title>Hello - Morningstar Demos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <main>
        <div class="px-4 py-3 my-2 text-center">
            
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/morningstar-icon.svg') }}" alt="Morningstar Logo" width="290" height="290"/>

            <h1 class="display-6 fw-bold text-danger">Welcome to Our Demos</h1>
        </div>

        <div class="col-md-6 mx-auto text-center">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                
                <button class="btn btn-primary btn-lg px-4 gap-3" onclick="location.href='/sql-chatbot'">SQL Chatbot</button>
                <button class="btn btn-success btn-lg px-4 gap-3" onclick="location.href='/pdf-narrator'">PDF Narrator</button>
                <button class="btn btn-warning btn-lg px-4 gap-3" onclick="location.href='/powerbi-demo'">PowerBI Demo</button>
                <button class="btn btn-info btn-lg px-4 gap-3" onclick="location.href='/azure-etf-ratings-chatbot'">Azure ETF Ratings Chatbot</button>
                <button class="btn btn-dark btn-lg px-4 gap-3" onclick="location.href='/azure-etf-returns-chatbot'">Azure ETF Returns Chatbot</button>

            </div>
        </div>
    </main>      
</body>
</html>
